/* arquivo para estruturas */

.main-bg { /* bg vai para qualquer tag que tiver essa classe */
    background-image: url('../img/main-bg.svg');
    background-size: cover;
    background-position: center center; /* ajuste do background de acordo com o tamanho da página */
    color: var(--white-color);
}

.white-bg {
    background: var(--white-color);
    color: var(--primary-color);
}

.main-content {
    max-width: 120rem;
    margin: 0 auto;
    padding: 10rem var(--gap);
}

.section { /* seção do site. Não confundir com a tag <section> */ 
    min-height: 100vh;
}

.menu-spacing {
    height: 65px;
}

body .full-width { /* "body" usado apenas para sobrescrever especificidade */
    width: 100%;
    flex: 1 1 100%;
}