* {
    margin: 0;
    padding: 0;
}

.heading { 
    transition: all 200ms ease-in-out; /* toda propriedade que mudar nesse elemento, quer que acontece algum efeito */ 
    /* todas as transições, quanto tempo e como se quer que o efeito ocorra */
}

.heading:hover { /* Pseudo-classe vai depois de ":" */ 
    background-color: red;
}

a {
    color: green;
}

a:link {
    color: deeppink;
}

a:visited { /* para links visitados */ 
    color: darkorange;
}

a:hover {
    background-color: darkslateblue;
    color: white;
    text-decoration: none;
}

a:active { /* indica que um elemento está ativo, clicado */ 
    background-color: lightblue;
    color: white;
    text-decoration: none;
}

input:focus { /* todos os tipos de inputs podem ter foco */ 
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    outline: none;
    border: 1px solid black;
}

input:disabled {
    background-color: blueviolet;
    cursor: not-allowed;
}

input:enabled{
    background-color: lightgreen;
}

input:checked + p { /* quando input marcado, muda o p */
    background-color: red;
}

.pai .lista li:first-child {
    background-color: blue;
}

.pai .lista li:last-child {
    background-color: red
}

input:required {
    background-color: pink;
}