* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex-container {
    display: flex;
    flex-direction: row; 
    justify-content: flex-start;
    flex-wrap: wrap; /* permite que o flex quebre a linha */
    align-items: flex-start; /* alinha os itens */
    align-content: space-between; /* alinha os conteúdos */
    background-color: cyan;
    height: 640px;
}

.flex-item {
    width: 33.33%;
    background-color: violet;
}
